{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to my page !</h1>
    <p>
        This is demo application for the course
        <em> Getting started with the Flask </em>
        on <a href="https://app.pluralsight.com/library/courses/flask-getting-started/table-of-contents">Pluralsight</a>
    </p>
    <h2>Flash Cards</h2>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{url_for('card_view', index = loop.index0)}}">
                {{card.question}}
                </a>
            </li>
        {% endfor %}

    <p>
        <button>
        <a href="{{url_for('card_view', index=0)}}">Card</a>
        </button>

        <button>
        <a href="{{url_for('add_card')}}">Add a new card</a>
        </button>

        <button>
        <a href="{{url_for('api_card_list')}}">API_JSONIFY</a>
        </button>

        <button>
            <a href="{{url_for('api_card_view', index = 0)}}">
            JSONIFY_API_CARD_VIEW
            </a>
        </button>
    </p>
    </ul>


{% endblock %}