<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to my page !</h1>
    <p>
        This is demo application for the course
        <em> Getting started with the Flask </em>
        on <a href="https://app.pluralsight.com/library/courses/flask-getting-started/table-of-contents">Pluralsight</a>
    </p>
    <img src = "/static/flasklogo.png">
    <p>
        {{message}} <!--- This is Jinja variable we can pass value for the variable in the view methods --->
    </p>

</body>
</html>